.about{
    height: auto;
}

.about h2{
    text-align: center;
}

.flipCard{
    width: 400px;
    height: 400px;
    margin-top: 100px;
}

.frontSide{
background-image: url(../../img/about-us.png);
background-size: cover;
}

.backSide{
    background-color: #2192a3;
    padding: 50px;
    color: #fff;
    font-weight: 500;
}

.backSide hr{
    border: 1px solid #343a40;
    width: 200px;
}

.about-text{
    padding-top: 0%;
    padding-bottom: 3%;
}

.about-text p{
text-align: justify;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 500;
font-size: 17px;
}

.about-text hr{
    border: 1px solid #2192a3;
    width: 200px;
}
